body {
  background-image: url('../src/assets/dark_mosaic.png');
}

ul {
  background-image: url('../src/assets/greenpattern.jpg');
  color: rgb(255, 255, 255);
  padding: 5em 2em 10em;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
}

h1, h5 {
  text-align: center;
  text-transform: uppercase;
}

p {
  width: 50vw;
  margin: 0 auto;
}

hr {
  border: 1px solid rgb(255, 255, 255);
  width: 95%;
  margin: 3em .5em;
}